<div class="d-flex justify-content-between align-items-end">
    <div class="me-auto">
        <h4 class="h5">Modifier la version</h4>
        {% set locales = [] %}
        {% for translation in translations %}
            {% set locales = locales|merge([translation.locale]) %}
            <a class="btn btn-outline-primary" href="{{ path(edit_path, {'id': id, 'locale': translation.locale}) }}">
                <img src="{{ asset('build/images/flags/' ~ translation.locale ~ '.png') }}">
            </a>
        {% endfor %}
    </div>

    {% if locales|length != navigation.locales|length %}
        <div class="dropdown text-end">
            <h4 class="h5"></h4>
            <button class="btn border rounded dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Ajouter une traduction
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-label="{{ 'Changer de langue'|trans }}">
                {% for locale in navigation.locales|filter(locale => locale.locale not in locales)|sort %}
                    <li>
                        <a class="dropdown-item"
                           href="{{ path(add_translation_path, {'id': id, 'locale': locale.locale}) }}">
                            <img class="me-2" src="{{ asset('build/images/flags/' ~ locale.locale ~ '.png') }}"
                                 alt="{{ locale.title }}">
                            {{ locale.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
