{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="container my-5 mb-4 p-0 border d-flex">
<section class="col-5 col-lg-4">
    <div class="p-4">
        {% if article.poster %}
    <img src="{{ vich_uploader_asset(article) }}" class="card-img img-fluid" alt="{{ article.alt }}">
        {% endif %}
    <div class="pt-4 pb-2">{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</div>
    <div class="py-2">{{ article.duration }}min</div>
    </div>
    <div class="">
        <div class="p-4">
        <a href="{{ path('article_index') }}">{{ 'Retour à la liste d\'articles'|trans }}</a>
        </div>
    </div>

</section>

<section class="col-7 col-lg-8 p-4">
    <div class="d-flex justify-content-end">
        <div class="btn-group">
          <button type="button" class="btn btn-primary shadow ">{{ article.category.name }}</button>
        </div>
        </div>
    <h1 class="mt-3">{{ article.title }}</h1>
    <div class="my-5">{{ article.body|raw }}</div>
</section>

</div>
{% endblock %}
